<div class="card-container">
    <div class="col-md-4" *ngFor="let wea of weather">
        <div class="panel panel-default">
            <div class="panel-heading"><a>{{city?.name}}</a></div>
            <div class="panel-body">
                <div class="temp">
                    <span>Temprature : </span> {{weather?.main?.temp}}
                </div>
                <div class="sea-level">
                    <span>Sea Level : </span> {{wea?.main?.sea_level | number:'1.0-0'}}m
                </div>
            </div>
        </div>
    </div>
</div>